mods/**
.mixin.out/**
_resources/**
asm/**
astralsorcery/**
backups/**
coremods/**
crash-reports/**
journeymap/**
local/**
logs/**
mods/**
patchouli_books/**
resourcepacks/**
resources/**
saves/**
screenshots/**
server-resource-packs/**
texturepacks/**
valkyrielib/**